{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/m_parking.css' %}">
    <title>停车场</title>
</head>

<body>
    <table border="0">
        <tr>
            <td>#</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
        </tr>
        <!-- 0 -->
        <tr>
            <td>0</td>
            <td rowspan="2">
                <div class="row_parking">001</div><!-- 0,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">002</div><!-- 1,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">003</div><!-- 2,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">004</div><!-- 3,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">005</div><!-- 4,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">006</div><!-- 5,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">007</div><!-- 6,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">008</div><!-- 7,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">009</div><!-- 8,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">010</div><!-- 9,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">011</div><!-- 10,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">012</div><!-- 11,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">013</div><!-- 12,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">014</div><!-- 13,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">015</div><!-- 14,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">016</div><!-- 15,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">017</div><!-- 16,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">018</div><!-- 17,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">019</div><!-- 18,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">020</div><!-- 19,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">021</div><!-- 20,1 -->
            </td>
            <td rowspan="2">
                <div class="row_parking">022</div><!-- 21,1 -->
            </td>
            <td rowspan="2" colspan="2"><div class="small0">SMALL0</div></td>
        </tr>
        <!-- 1 -->
        <tr>
            <td>1</td>
        </tr>
        <!-- 2 -->
        <tr>
            <td>2</td>
            <td>
                <div class="road "><!-- 0,2 -->             
            </td><td>
                <div class="road "><!-- 1,2 -->
            </td><td>
                <div class="road "><!-- 2,2 -->
            </td><td>
                <div class="road"><!-- 3,2 -->
            </td><td>
                <div class="road"><!-- 4,2 -->
            </td><td>
                <div class="road"><!-- 5,2 -->
            </td><td>
                <div class="road"><!-- 6,2 -->
            </td><td>
                <div class="road"><!-- 7,2 -->
            </td><td>
                <div class="road"><!-- 8,2 -->
            </td><td>
                <div class="road"><!-- 9,2 -->
            </td><td>
                <div class="road"><!-- 10,2 -->
            </td><td>
                <div class="road"><!-- 11,2 -->
            </td><td>
                <div class="road"><!-- 12,2 -->
            </td><td>
                <div class="road"><!-- 13,2 -->
            </td><td>
                <div class="road"><!-- 14,2 -->
            </td><td>
                <div class="road"><!-- 15,2 -->
            </td><td>
                <div class="road"><!-- 16,2 -->
            </td><td>
                <div class="road"><!-- 17,2 -->
            </td><td>
                <div class="road"><!-- 18,2 -->
            </td><td>
                <div class="road"><!-- 19,2 -->
            </td><td>
                <div class="road"><!-- 20,2 -->
            </td><td>
                <div class="road"><!-- 21,2 -->
            </td><td>
                <div class="road"><!-- 22,2 -->
            </td><td>
                <div class="road"><!-- 23,2 -->
            </td>
        </tr>
        <!-- 3 -->
        <tr>
            <td>3</td>
            <td colspan="2">
              <div class="col_parking" style="text-indent: 50px;">023</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
              <div class="col_parking" style="text-indent:-50px;">024</div>
            </td>
            <td rowspan="9">
              <div class='bar0'>BAR0</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="5" rowspan="13">
              <div class ="big">BIG</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td rowspan="4">
              <div class='bar1'>BAR1</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">025</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">026</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">027</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">028</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">029</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">030</div>
            </td>
            <td rowspan="2">
                <div class="row_parking">031</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2" rowspan="3"><div class="small1">SMALL1</div></td>
        </tr>
        <!-- 4 -->
        <tr>
            <td>4</td>
            <td colspan="2">
                <div class="col_parking" style="text-indent: 50px;">032</div>
            </td>
            <td>
                <div class="road">
            </td>><td colspan="2">
                <div class="col_parking" style="text-indent:-50px;">033</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            <td>
                <div class="road">
            </td>
        </tr>
        <!-- 5 -->
        <tr>
            <td>5</td>
            <td colspan="2">
                <div class="col_parking" style="text-indent: 50px;">034</div>
            </td>
            <td>
                <div class="road">
            </td>><td colspan="2">
                <div class="col_parking" style="text-indent:-50px;">035</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">038</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">039</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">040</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">041</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">042</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">043</div>
            </td>
            <td rowspan="2">
                <div class="row_parking" style="line-height:150px;">044</div>
            </td>
            <td>
                <div class="road">
            </td>
        </tr>
        <!-- 6 -->
        <tr>
            <td>6</td>
            <td colspan="2">
                <div class="col_parking" style="text-indent: 50px;">036</div>
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking" style="text-indent:-50px;">037</div>
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking" style="text-indent:-50px;">045</div>
            </td>
        </tr>
        <!-- 7 -->
        <tr>
            <td>7</td>
            <td colspan="2">
                <div class="col_parking" style="text-indent: 50px;">046</div>
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking" style="text-indent:-50px;">047</div>
            </td>
            <td><div class="road"></td>>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td><div class="road"></td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td><div class="road"></td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 8 -->
        <tr>
            <td>8</td>
            <td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td rowspan="5"><div class='bar2'>BAR2</div></td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 9 -->
        <tr>
            <td>9</td>
            <td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 10 -->
        <tr>
            <td>10</td>
            <td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking">
            </td>
            <td><div class="road"></td>>
            <td>
                <div class="road">
            </td>

            <td colspan="7"><div class='bar3'>BAR3</div></td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 11 -->
        <tr>
            <td>11</td>
            <td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td><td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 12 -->
        <tr>
            <td>12</td>
            <td colspan="2">
                <div class="col_parking">
            </td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 13 -->
        <tr>
            <td>13</td>
            <td colspan="2" rowspan="2"><div class="small0">SMALL0</div></td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td><td>
                <div class="road">
            </td>
            <td colspan="2">
                <div class="col_parking">
            </td>
        </tr>
        <!-- 14 -->
        <tr>
            <td>14</td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2">
                <div class="row_parking">
            </td>
            <td rowspan="2" colspan="2"><div class="small0">SMALL0</div></td>
        </tr>
        <!-- 15 -->
        <tr>
            <td>15</td>
            <td colspan="7"><div class='bar3'>BAR3</div></td>
        </tr>
    </table>
</body>
</html>
